@import url(https://fonts.googleapis.com/css?family=Ubuntu);
body {
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
	font-size: 20px;
}
p,a{
    font-size: 1em;
    hyphens: auto;
    line-height: 1.5;
	font-family: 'Ubuntu';
}
a{
	color:royalblue;
}
.title {
	font-size:60px;
	font-weight:600;
	color:royalblue;
}
.sub-title {
	font-size:40px;
	font-weight:400;
	color:royalblue;
}
.pickup {
	border:2px dotted royalblue;
    padding:6px;
	font-family: 'Ubuntu';
}
.image {
	border:30px solid white;
	padding: 0;
}
.buttonmore {
    font-size: 0.8em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: royalblue;
    color: #fff;
    border-style: none;
	border-radius: 5px;
}
.kiji{
	margin-bottom: 10px;
}
.rb {
	color:royalblue;
}
